

<h1 class="text-2xl font-bold">{{product.title}}</h1>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>

<form action="/cart/add/{{product._id}}" method="POST">
  <button type="submit" class="bg-green-500 text-white p-2 rounded mt-4">Agregar al carrito</button>
</form>

<a href="/products" class="text-blue-600 underline block mt-4">⬅️Volver⬅️</a>
